/* components/_footer */

footer {}
footer .container {
  background-color: rgba(255, 0, 0, 0.5);
  overflow: auto;
  padding: 30px 20px 40px;
}
@media screen and (min-width: 992px) {
  footer .container {
    padding-left: 0;
    padding-right: 0;
  }
}
.footer__logo {
  margin-bottom: 35px;
}
.footer__logo img {
  width: 200px;
}
.footer_menus {
  display: block;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .footer_menus {
    float: left;
    width: 670px;
  }
}
.footer_menus nav {
  display: block;
}
.footer_menus nav ul {
  display: block;
  list-style: none;
  margin-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .footer_menus nav ul {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
    width: 33%;
  }
}
.footer_menus nav ul h3 {
  color: #2c154d;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer_menus nav ul li {
  color: #5d5d5d;
  font-weight: 400;
  margin-bottom: 15px;
}
.footer_menus nav ul li a {
  color: #5d5d5d;
  text-decoration: none;
}