.form__field {
  margin-bottom: 20px;
}
.custom-select {
  position: relative;
  display: block;
}
.custom-select:after {
  background-color: #9966cc;
  background-image: url('../images/design/icons/icon-arrow-down.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 14px 9px;
  border-radius: 0 3px 3px 0;
  content: "";
  display: inline-block;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
}
.custom-select select {
  -webkit-appearance: none;
  background-color: #ffffff;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  padding: 10px 20px 10px 10px;
  width: 100%;
}

/* Custom Checkbox - start */
.custom__checkbox {
  cursor: pointer;
  display: block;
  font-size: 22px;
  margin-bottom: 20px;
  padding-left: 35px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #75668a;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
  transition: all 0.5s ease;
}

/* On mouse-over, add a grey background color */
.custom__checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom__checkbox input:checked ~ .checkmark {
  background-color: #ffffff;
  border: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom__checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom__checkbox .checkmark:after {
  border-radius: 100%;
  border: solid #9966cc 5px;
  height: 5px;
  left: 50%;
  margin: -5px;
  top: 50%;
  width: 5px;
}
.custom__checkbox .cch-txt {
  color: #2c154d;
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
}
.custom__checkbox strong.cch-txt {
  font-weight: 500;
}
/* Custom Checkbox - end */