/* components/_hero */

.hero {
  align-items: center;
  background-image: url('../images/design/bg/hero-background.png');
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 134px);
  justify-content: center;
}
.hero__content {
  align-items: flex-end;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.hero__title,
.hero__description {
  color: #ffffff;
  flex-basis: 100%;
  font-size: 30px;
  margin: 0;
  text-align: center;
}
.hero__title {
  font-weight: 500;
  margin-bottom: 5px;
}
.hero__description {
  font-weight: 300;
  margin-bottom: 25px;
}
.hero__search .box-search input[type="search"] {
  font-size: 16px;
  height: 50px;
  width: 525px;
}

.hero__search .box-search input[type="button"],
.hero__search .box-search input[type="submit"],
.hero__search .box-search button {
  height: 50px;
  width: 50px;
  background-size: 21px 21px;
}

.hero__footer {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-basis: 100%;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  align-self: flex-end;
  padding: 10px;
}
.hero__footer a {
  align-items: center;
  color: #ffffff;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 24px auto;
  text-decoration: none;
}