/* components/_hero */

.hero {
  background-image: url('../images/design/bg/hero-background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
  height: calc(100vh - 120px);
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero {
    height: calc(100vh - 134px);
  }
}
.hero__content {
  display: inline-block;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.hero__title,
.hero__description {
  color: #ffffff;
  flex-basis: 100%;
  margin: 0;
  text-align: center;
}
.hero__title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
}
.hero__description {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .hero__title,
  .hero__description {
    font-size: 30px;
  }
}
.hero__search .box-search {
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero__search .box-search {
    margin: 0 auto;
    max-width: 560px;
  } 
}
@media screen and (min-width: 992px) {
  .hero__search .box-search {
    max-width: 60%;
  } 
}
.hero__search .box-search input[type="search"],
.hero__search .box-search {
  font-size: 16px;
  height: 50px;
  width: 100%;
}
.hero__search .box-search input[type="search"] {
  position: absolute;
  left: 0;
  width: calc(100% - 50px);
}
.hero__search .box-search input[type="button"],
.hero__search .box-search input[type="submit"],
.hero__search .box-search button {
  background-size: 21px 21px;
  height: 50px;
  width: 50px;
}

.hero__footer {
  color: #ffffff;
  display: block;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 5px;
}
.hero__footer a {
  color: #ffffff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: center;
}
.hero__footer a i {margin-right: 5px;}
.hero__footer a i,
.hero__footer a span {
  line-height: 1;
  vertical-align: middle;
}

.hero--internal {
  height: 50vh;
}
.hero--internal .hero__title {
  text-transform: uppercase;
}