.newsletter {
  background-color: #ffffff;
  border-radius: 20px 0 0 3px;
  box-shadow: 0 0 20px -5px #000000;
  display: block;
  float: right;
  margin-right: -25px;
  padding: 40px;
  width: 350px;
}
.newsletter__title {
  color: #2c154d;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.newsletter__input {
  margin-bottom: 15px;
  position: relative;
}
.newsletter__input input[type="email"],
.newsletter__input input[type="text"] {
  background-color: #f2f2f2;
  border: 0;
  font-size: 16px;
  font-weight: 300;
  height: 35px;
  padding: 5px;
  text-align: center;
  width: calc(100% - 35px);
}
.newsletter__input input[type="button"],
.newsletter__input input[type="submit"],
.newsletter__input button {
  background-color: #9966cc;
  background-image: url('../../images/design/icons/icon-arrow-right.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 9px 16px;
  border-radius: 0 3px 3px 0;
  border: 0;
  cursor: pointer;
  height: 35px;
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
}
.newsletter__buttons {}
.newsletter__buttons .btn {
  margin-right: 10px;
  padding-top: 8px;
}
.newsletter__buttons .btn--contact {
  padding-top: 10px;
}
.newsletter__buttons .btn:last-child {
  margin-right: 0;
}
.newsletter__buttons .btn i {
  vertical-align: middle;
}