/* components/_section-categories */

.section-categories {
  padding: 20px 15px;
}
@media screen and (min-width: 768px) {
  .section-categories {
    padding: 50px 0;
  }
}
.section-categories h3 {
  color: #2c154d;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {}
.categories-grid {
  display: block;
  position: relative;
}
.category-elm {
  background-position: center center;
  background-size: cover;
  height: 260px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}
.category-elm a {
  color: #ffffff;
  display: block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .category-elm {
    height: 238px;
    margin: 0;
    width: calc(50% - 10px);
  }
}
.category-elm--a {
  background-color: #F44336;
  height: 495px;
} 
.category-elm--b {
  background-color: #2196F3;
}
.category-elm--c {
  background-color: #8BC34A;
}
.category-elm--d {
  background-color: #00BCD4;
} 
@media screen and (min-width: 768px) {
  .category-elm--a {
    float: left;
    height: 496px;
    margin-right: 20px;
    width: calc(50% - 10px);
  } 
  .category-elm--b {
    float: right;
    margin-bottom: 20px;
  }
  .category-elm--c,
  .category-elm--d {
    height: 238px;
    width: calc(25% - 20px);
  }
  .category-elm--c {
    float: left;
  }
  .category-elm--d {
    float: right;
  } 
}
.category-type {
  background-color: #fafafa;
  box-shadow: 3px 3px 5px -2px #898a83;
  height: 60px;
  position: absolute;
  right: 15px;
  text-align: center;
  top: -14px;
  width: 60px;
}
.category-type .icon-bienestar {
  height: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
}
.category-type:after {
  background-image: url('../../images/design/bg/sqare-shadow.png');
  background-position: center center;
  background-size: contain;
  content: "";
  height: 14px;
  position: absolute;
  right: -7px;
  top: 0;
  width: 7px;
}
.category-info {
  background-color: #9966cc;
  bottom: 10px;
  color: #ffffff;
  display: inline-block;
  left: 0;
  line-height: 1;
  padding: 7px 15px;
  position: absolute;
}
.category-info h4.category-info__name {
  font-weight: 700;
  margin-bottom: 2px;
  text-transform: uppercase;
}
.category-info__location {
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
}
.category-info__location .icon-ubiety {
  margin-right: 5px;
  vertical-align: middle;
}
.category-elm--selected .category-info {
  background-color: rgba(255, 255, 255, 0.75);
  color: #2c154d;
}
.categories-grid--2 {
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .categories-grid--2 [class^='category-elm'] {
    border-radius: 3px;
  }
  .categories-grid--2 .category-elm--a {
    height: 200px;
    margin-bottom: 20px;
    width: 475px;
  }
  .categories-grid--2 .category-elm--b {
    height: 200px;
    width: 225px;
  }
  .categories-grid--2 .category-elm--c {
    height: 420px;
    width: 225px;
  }
  .categories-grid--2 .category-elm--d {
    height: 420px;
    width: 475px;
  }
}