/* components/_section-steps */

.section-steps {
  background-color: #2c154d;
  color: #ffffff;;
  padding: 30px 0;
}
@media screen and (max-width: 768px) {
  .section-steps {
    padding: 30px;
  }
  .section-steps .icon-separator {
    background-image: url('../../images/design/icons/icon-arrow-separator--down.svg');
    height: 9px;
    width: 32px;
  }
}
.section-steps,
.section-steps .container {
  display: block;
  text-align: center;
}
.section-steps__step {
  display: inline-block;
  margin: 25px 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-steps__step {
    margin: 0;
    width: 265px;
  }
}
.section-steps__step i {
  margin-bottom: 10px;
}
.section-steps__step h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.section-steps__step p {
  font-size: 16px;
}