/* components/_section-steps */

.section-steps {
  background-color: #2c154d;
  color: #ffffff;;
  padding: 30px 0;
}
.section-steps,
.section-steps .container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-steps__step {
  flex-basis: 265px;
  position: relative;
  text-align: center;
}
.section-steps__step i {
  margin-bottom: 10px;
}
.section-steps__step h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.section-steps__step p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
}