/* components/_section-offer-your-services */

.section-offer-your-services {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100vh;
  min-height: 560px;
  padding-bottom: 35px;
  padding-top: 35px;
  position: relative;
}
.section-offer-your-services--shadow-light:after,
.section-offer-your-services--shadow-dark:after {
  background-position: bottom left;
  background-repeat: repeat-x;
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}
.section-offer-your-services--shadow-light:after {
  background-image: url('../images/design/bg/shadow-light.png');
}
.section-offer-your-services--shadow-dark:after {
  background-image: url('../images/design/bg/shadow-dark.png');
}
.section-offer-your-services__content {
  bottom: 35px;
  display: block;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-offer-your-services__content {
    width: 600px;
  }
}
.section-offer-your-services__title {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.section-offer-your-services__link {
  border-radius: 3px;
  border: 1px solid #ffffff;
  color: #ffffff;
  display: inline-block;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  line-height: 1;
  padding: 15px 50px 15px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.section-offer-your-services__link:hover {
  background-color: #ffffff;
  color: #000000;
}