/* base/_helpers */

.d-none, .display-none, .none, .hidden, .hidde {
  display: none !important;
}

.cfx:after, .clear:after, .clearfix:after {
  clear: both;
  content: "";
  display: block;
  width: 100%;
}

.border-0 {
  border: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1050px) {
  .container { width: 1035px; }
}