/* MENU  */
  /** xx Fonts **/
  /** xx Global **/
  /** xx Helpers **/
  /** xx ZIndex **/
  /** xx Icons **/
  /** xx Header **/

/** xx Fonts **/

/**
  font-family: 'Barlow', sans-serif;
  font-family: 'Barlow Condensed', sans-serif;
**/

/** xx Global **/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Barlow', sans-serif;
}

/** xx Helpers **/

.container {
  margin: 0 auto;
  width: 1035px;
}

/** xx ZIndex **/
.header__user-nav-dropdown {
  z-index: 9999;
}

/** xx Icons **/

[class^="icon"] {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
}
.icon--user {
  background-image: url('../images/design/icons/icon--user-nav.svg');
  height: 21px;
  width: 21px;
}
[class^="icon--arrow-"] {
  height: 4px;
  width: 8px;
}
.icon--arrow-up {
  background-image: url('../images/design/icons/icon--arrow-up.svg');
}
.icon--arrow-down {
  background-image: url('../images/design/icons/icon--arrow-up.svg');
  transform: rotate(180deg);
}

.icon--locacion { background-image: url('../images/design/icons/navigation/icon-locacion.svg'); }
.header__bottom__nav .icon--locacion {
  height: 23px;
  width: 21px;
}
.icon--entretenimiento { background-image: url('../images/design/icons/navigation/icon-entretenimiento.svg'); }
.header__bottom__nav .icon--entretenimiento {
  height: 19px;
  width: 18px;
}
.icon--bienestar { background-image: url('../images/design/icons/navigation/icon-bienestar.svg'); }
.header__bottom__nav .icon--bienestar {
  height: 14px;
  width: 26px;
}
.icon--educacion { background-image: url('../images/design/icons/navigation/icon-educacion.svg'); }
.header__bottom__nav .icon--educacion {
  height: 19px;
  width: 19px;
}
.icon--personal { background-image: url('../images/design/icons/navigation/icon-personal.svg'); }
.header__bottom__nav .icon--personal {
  height: 20px;
  width: 25px;
}
.icon--negocios { background-image: url('../images/design/icons/navigation/icon-negocios.svg'); }
.header__bottom__nav .icon--negocios {
  height: 19px;
  width: 24px;
}
.icon--mas { background-image: url('../images/design/icons/navigation/icon-mas.svg'); }
.header__bottom__nav .icon--mas {
  height: 6px;
  width: 21px;
}

/** xx Header **/

.header__top {
  align-items: center;
  background-color: #2c154d;
  display: flex;
  justify-content: space-around;
  min-height: 90px;
  position: relative;
}
.header__top .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header__logo img {
  height: 32px;
  width: 201px;
}
.header__search,
.header__search form {
  display: flex;
}
.header__search input[type="search"] {
  border-radius: 3px 0 0 3px;
  border: 1px solid #bdbdbd;
  color: #2c154d;
  font-weight: 300;
  height: 40px;
  opacity: 0.97;
  padding: 10px 10px 11px 10px;
  text-align: center;
  transition: opacity 0.5s ease;
  width: 425px;
}
.header__search input[type="search"]:hover,
.header__search input[type="search"]:focus,
.header__search input[type="search"]:active {
  opacity: 1;
}
.header__search input[type="search"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2c154d;
  opacity: 1; /* Firefox */
}
.header__search input[type="search"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #2c154d;
}
.header__search input[type="search"]::-ms-input-placeholder { /* Microsoft Edge */
  color: #2c154d;
}
.header__search input[type="button"],
.header__search input[type="submit"],
.header__search button {
  background-color: #9966cc;
  background-image: url("../images/design/icons/icon--search.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  border-radius: 0 3px 3px 0;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  height: 40px;
  opacity: 0.85;
  transition: opacity 0.5s ease;
  width: 40px;
}
.header__search input[type="button"]:hover,
.header__search input[type="submit"]:hover,
.header__search button:hover {
  opacity: 1;
  background-size: calc(initial + 10%);
}
.header__user-nav {
  position: relative;
  text-align: right;
}
.header__user-nav .header__user-nav-dropdown {
  align-items: center;
  background-color: #9966cc;
  border-radius: 20px 20px 0 20px;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  min-width: 190px;
  padding: 10px 25px;
  position: relative;
  width: initial;
}
.header__user-nav .header__user-nav-dropdown.active {
  border-radius: 20px 20px 0 20px;
  background-color: #9966cc;
}
.header__user-nav .header__user-nav-dropdown:after {
  display: none;
}
.header__user-nav .header__user-nav-dropdown .icon--user {
  margin-right: 15px;
}
.header__user-nav .header__user-nav-dropdown span {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
}
.header__user-nav .header__user-nav-dropdown span em {
  font-weight: 500;
  font-style: normal;
}
.header__user-nav .header__user-nav-dropdown .dropdown,
.header__user-nav .header__user-nav-dropdown.active .dropdown {
  background: #f2f2f2;
  border-radius: 3px 0 3px 3px;
  border: 0;
  box-shadow: 0 0 10px -5px black;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  top: calc(100% + 5px);
}
.header__user-nav .header__user-nav-dropdown .dropdown li a {
  border: 0;
  color: #5e4c76;
}
.toggle-region-selector {
  align-items: center;
  background-color: transparent;
  border: 0;
  top: calc(100% + 5px);
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  font-weight: 300;
  justify-content: space-between;
  line-height: 1;
  position: absolute;
  right: 0;
  text-decoration: none;
}
.toggle-region-selector [class^="icon-"] {
  display: inline-flex;
  margin-left: 5px;
  margin-top: 3px;
}
.regions-selector-list {
  background-color: #f2f2f2;
  display: none;
  flex-wrap: wrap;
  left: 0;
  min-height: 150px;
  padding: 40px;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
}
.regions-selector-list.active {
  display: flex;
}
.regions-selector-list .container {
  flex-wrap: wrap;
}
.regions-selector-list h3 {
  color: #2c154d;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.regions-selector-list h3,
.regions-selector-list nav {
  flex-basis: 100%;
}
.regions-selector-list nav ul {
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  list-style: none;
}
.regions-selector-list nav ul li {
  color: #363636;
  cursor: pointer;
  display: inline-block;
  flex-basis: 25%;
}
.regions-selector-list nav ul li:first-child {
  margin-bottom: 15px;
}
.regions-selector-list nav ul li.active {
  color: #9966cc;
  font-weight: 500;
  position: relative;
}
.regions-selector-list nav ul li.active:before {
  background-color: #9966cc; 
  border-radius: 3px;
  content: " ";
  display: block;
  height: 13px;
  left: -10px;
  position: absolute;
  top: 2px;
  width: 4px;
}
.regions-selector-list nav ul li a {
  color: #363636;
}

/* header bottom */
.header__bottom nav {
  border-bottom: 1px solid #e7e7e7;
}
.header__bottom__nav {
  background-color: #ffffff;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  justify-content: space-between;
  list-style: none;
  padding: 10px 0;
}
.header__bottom__nav li {
  align-items: center;
  color: #2c154d;
  cursor: pointer;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "header-nav-icon header-nav-text";
  text-transform: uppercase;
}
.header__bottom__nav li [class^="icon--"] {
  background-size: contain;
  grid-area: header-nav-icon;
}
.header__bottom__nav li span {
  grid-area: header-nav-text;
}
.header__bottom__nav li a {
  color: #2c154d;
  text-decoration: none;
}